{% extends 'common/base.html' %}

{% load static%}
{% block content %}
<form  method="post" action=".">
  {% csrf_token %}
        <table  class="table table-striped table-bordered" style="width:100%" id='dtBasicExample'>
            <thead>
                <tr>
                    <th>Cls Ref No</th>
                    <th>Activity Title</th>
                    <th>Auditors Comments</th>
                    <th>Status</th>
                    <th>Auditees Comments</th>
                    <th>Auditee Status</th>
                    <th>Verified Comments(Auditor)</th>
                    <th>Verified Status</th>
                    <th>Mr Comments</th>
                    <th>Mr Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for typ in auditorcomments %}
                  {%if typ.auditschedule_id == auditschedule.id%}
                <tr>
                    <td>{{typ.cls_refno}}</td>
                    <td>{{typ.description}}</td>
                    <td>{{typ.auditor_comments}}</td>
                    <td>{{typ.auditor_status}}</td>
                    <td>{{typ.auditee_comments}}</td>
                    <td>{{typ.auditee_status}}</td>
                    <td>{{typ.verified_comments}}</td>
                    <td>{{typ.verified_status}}</td>

                    {%if  typ.verified_status == "Verified"  %}

                    <td><input type="text" name="mr_comments" value="{{typ.mr_comments}}" {%if typ.mr_status == Accepted %} readonly {%endif%}></td>
                    {%if typ.mr_comments != None %}  {%endif%}
                    <td><select  name="mr_status" id="MySelect" {%if typ.mr_status == Accepted %} disabled="true"  {%endif%} required>
                      <option value="">Select</option>
                      <option value="To Review" {%if typ.mr_status == "To Review" %} selected {%endif%}>To Review</option>
                      <option value="Clarified" {%if typ.mr_status == "Clarified" %} selected {%endif%}>Clarified</option>
                      <option value="Accepted" {%if typ.mr_status == "Accepted" %} selected {%endif%}>Accepted</option>
                    </select></td>
                    <input type="hidden" name="id" value="{{typ.id}}">
                    {%else%}
                    <td></td>
                    <td></td>
                    {%endif%}
                    <td>
                        <a href="{% url 'QMS:auditorcommentupdate' typ.pk %}" class="btn btn-danger btn-sm">Edit Auditor</a>
                        <a href="{% url 'QMS:auditeecommentupdate' typ.pk %}" class="btn btn-danger btn-sm">Edit Auditee</a>
                        <a href="{% url 'QMS:verifycommentupdate' typ.pk %}" class="btn btn-danger btn-sm">Edit Verified</a>
                        <a href="{% url 'QMS:auditorcommentdelete' typ.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        <a href="{% url 'QMS:mrcommentupdate' typ.pk %}" class="btn btn-danger btn-sm">Edit MR</a>
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align:center">

          <a href="{% url 'QMS:auditscheduleview' %}" class="btn btn-success">Back</a>
          <button type="submit" class="btn btn-success">Save</button>
        </div>

        <script type="text/javascript" src="{% static 'js/min3.5.1.js' %}">
        </script>

        <script type="text/javascript" src="{% static 'js/dataTables.min.js' %}">
        </script>

        <script type="text/javascript">
        $(document).ready(function (){
          $('#dtBasicExample').DataTable({
            "lengthMenu":[[10,25,50,-1],[10,25,50,"All"]]
          });
        });
        </script>
</form>


{% endblock  %}
