{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <center>
      {% if auditschedule.schedule_audit_code != None%}
      <h2>Auditor Comment</h2>

<form method="post" action="." >

    {% csrf_token %}

      <table  class="table table-striped table-bordered table-sm">
          <tr>
              <th>Audit Type</th>
              <td>{{ auditschedule.schedule_auditype.audittype }}</td>
          </tr>
          <tr>
              <th>Audit Date</th>
              <td>{{ auditschedule.schedule_audit_date }}</td>
          </tr>
          <tr>
              <th>Audit Code</th>
              <td>{{auditschedule.schedule_audit_code}}</td>
          </tr>
          <tr>
              <th>Auditor's Name</th>
              <td>{% for o in auditschedule.schedule_auditor_list.all %}{{o.auditors.emp_name}} / {% endfor %}</td>
          </tr>
          <tr>
              <th>Auditee's Name</th>
              <td>{% for o in auditschedule.schedule_auditee_list.all %}{{o.emp_name}} / {% endfor %}</td>
          </tr>
          <tr>
            <td colspan="2" >
              <!--below class is important for scrip working -->
                <table style="table table-bordered table-striped; width:100%" class=" table order-list">
                <tbody>
                    <tr>
                        <th>ISO Ref no</th>
                        <th>Activity Title</th>
                        <th>Evidence (By Auditor)</th>
                        <th>Status</th>
                        <th>Department</th>

                    </tr>
                    {%for wkm in workmanual%}

                        <tr>
                                <td >{{wkm.cls_ref_no}}</td>
                                <td style='width:150px'>{{wkm.activity_title}}</td>
                                <td >{{form.auditor_comments}}</td>
                                <td>
                                  <select style='width:125px' name="auditor_status">
                                  <option value="">-select-</option>
                                  <option value="Completed">C</option>
                                  <option value="OFI">OFI</option>
                                  <option value="No change">NC</option>
                                </select></td>
                                <td >
                                  <select style='width:125px' name="department" >
                                  <option value="">Select</option>
                                  <option value="Civil">CL</option>
                                  <option value="Mechanical">MECH</option>
                                  <option value="Electrical">ELC</option>
                                  <option value="TL">TL</option>
                                </select> </td>

                                <input type="hidden" name="audittype" value="{{auditschedule.schedule_auditype.audittype}}">
                                <input type="hidden" name="cls_refno" value="{{wkm.cls_ref_no}}">
                                <input type="hidden" name="description" value="{{wkm.activity_title}}">
                                <input type="hidden" name="auditschedule_id" value="{{auditschedule.id}}">
                                <input type="hidden" name="workmanual_id" value="{{wkm.id}}">



                        </tr>
                        <tr>
                          <td class="col-sm-2"><a class="deleteRow"></a></td>
                        </tr>
                        {% endfor %}

                </tbody>
                                <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: left;">

                            <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tfoot>
              </table>
            </td>
          </tr>
      </table>

      <link href="{% static 'css/bootstrap.min.css' %} rel="stylesheet" id="bootstrap-css">

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>

      <script type="text/javascript" src="{% static 'js/min.js' %}">
      </script>

      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">
      </script>


<script type="text/javascript">

  $(document).ready(function () {
    var counter = 0;

    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
        var cols = "";

        cols += '<td><input type="text" class="form-control" name="cls_ref_no' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="activity_title' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="auditor_comments' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="auditor_status' + counter + '"/></td>';
        cols += '<td><input type="text" class="form-control" name="department' + counter + '"/></td>';
        cols += '<td><input type="hidden" class="form-control" name="audittype' + counter + '"/></td>';
        cols += '<td><input type="hidden" class="form-control" name="auditschedule_id' + counter + '"/></td>';
        cols += '<td><input type="hidden" class="form-control" name="workmanual_id' + counter + '"/></td>';

        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
        $("table.order-list").append(newRow);
        counter++;
    });



    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();
        counter -= 1
    });


});



function calculateRow(row) {
    var price = +row.find('input[name^="price"]').val();

}

function calculateGrandTotal() {
    var grandTotal = 0;
    $("table.order-list").find('input[name^="price"]').each(function () {
        grandTotal += +$(this).val();
    });
    $("#grandtotal").text(grandTotal.toFixed(2));
}
</script>


<div style="text-align:center">
  <button type="submit" class="btn btn-success">Save</button>
  <a href="{% url 'QMS:auditscheduleview' %}" class="btn btn-success">Back<span class="glyphicon glyphicon-step-backward"></span></a>
  <a href="#" class="btn btn-success">Submit</a>

</div>

</form>
{%else%}
  <h1>Yet to Confirm...</h1>
{%endif%}

    </center>


{% endblock %}
