{% extends 'common/base.html' %}


{% block content %}
<style>
div {
  padding: 30px;
  border: 1px ;
}
</style>

<div>
    <center>
      <h3><b>Auditor to Verify</b> </h3>
<form method="post" action=".">

    {% csrf_token %}
      <table  class="table table-striped table-bordered table-sm" >

          <tr>
              <th>Audit Type</th>
              <td>{{ auditschedule.schedule_auditype.audittype }}</td>
          </tr>
          <tr>
              <th>Audit Date</th>
              <td>{{ auditschedule.schedule_audit_date }}</td>
          </tr>
          <tr>
              <th>Audit Code</th>
              <td>{{auditschedule.schedule_audit_code}}</td>
          </tr>
          <tr>
              <th>Auditor's Name</th>
              <td>{% for o in auditschedule.schedule_auditor_list.all %}{{o.auditors.emp_name}} / {% endfor %}</td>
          </tr>
          <tr>
              <th>Auditee's Name</th>
              <td>{% for o in auditschedule.schedule_auditee_list.all %}{{o.emp_name}} / {% endfor %}</td>
          </tr>

          <tr>
                  <td colspan="2" >
                      <table style="table table-bordered table-striped; width:100%">
                          <tbody>
                      <tr>

                          <th>S.No</th>
                          <th>ISO Ref no</th>
                          <th>Activity Title</th>
                          <th>Evidence (By Auditor)</th>
                          <th>Corrective Action(By Auditee)</th>
                          <th>Verified Reason (By Auditor)</th>
                          <th>Status</th>

                      </tr>

                      {%for ac in auditcomments %}
                        {% if auditschedule.schedule_auditype.audittype == ac.audittype and ac.verified_comments == None%}

                      <tr>
                          <input type="hidden" name="id" value="{{ac.id}}">

                          <td>{{forloop.counter}}</td>
                          <td>{{ac.cls_refno}}</td>
                          <td>{{ac.description}}</td>
                          <td>{{ac.auditor_comments}}</td>
                          <td>{{ac.auditee_comments}}</td>
                          <td>{{form.verified_comments}} </td>

                          <td><select  name="verified_status">

                            <option value="Yet-verify">Yet-verify</option>
                            <option value="Re-submit">Re-submit</option>
                            <option value="Verified">Verified</option>

                          </select></td>


                      </tr>
                         {% endif %}
                      {%endfor%}

                          </tbody>
                       </table>
                  </td>
          </tr>
      </table>

<div style="text-align:center">
  <button type="submit" class="btn btn-success">Save</button>
  <a href="{% url 'QMS:auditscheduleview' %}" class="btn btn-success">Back<span class="glyphicon glyphicon-step-backward"></span></a>
<a href="#" class="btn btn-success">Submit</a>
</div>
</form>

    </center>
</div>

{% endblock %}
